{% set stats = h.get_site_statistics() %}
{% block header_wrapper %}
<!-- header -->
<header class="background-white">
    <!-- container -->
    <div class="container">
        {% block header_account_container_content %} 
        <!-- top-bar -->
        <div class="top-bar row">
            <div class="col-md-3 col-xs-12 col-sm-12 background-blue-dark">
                <div class="row">
                    <div class="col-xs-10 col-sm-10">
                        <div class="logo">
                            <a href="{{ h.url_for('home') }}" class="svg"><object type="image/svg+xml" data="img/logo.svg">Su navegador no soporta SVG</object></a>
                        </div>
                    </div>
                    <div class="col-xs-1 col-xs-offset-1 col-sm-1">
                        <a class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                           aria-expanded="false" aria-controls="navbar">
                            <object type="image/svg+xml" data="img/icono_menu.svg" class="icon-menu">
                                Su navegador no soporta SVG
                            </object>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-8 background-white">
                {% block header_account %}

                <div class="row log-in">
                    <ul class="nav-login">
                        {% block header_account_notlogged1 %}
                        <li>{% link_for _('Log in'), controller='user', action='login', class_='login-to-entities' %}</li>
                        {% if h.check_access('user_create') %}
                        <li>{% link_for _('Register'), controller='user', action='register', class_='sub' %}</li>
                        {% endif %}
                        {% endblock %}                        
                    </ul>

                </div>

                <div class="row menu">
                    <div class="col-xs-12 hidden-xs hidden-sm col-md-5">
                        <!-- Datasets search -->
                        <div class="input-group top-search-container">
                            <input class="form-control" id="top-search-box" aria-label="Búsqueda de Datasets"
                                   placeholder="Búsqueda de conjunto de datos">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default background-search" id="top-search-button"
                                        aria-label="Buscar" id="search-datasets"><span
                                        class="glyphicon glyphicon-search"></span></button>
                            </div>
                        </div>
                        <!-- end datasets search -->
                    </div>

                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav">                     
                            {% if c.userobj %}
                            {% block header_account_logged %} {% if c.userobj.sysadmin %}
                            <li>
                                <a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}">
                                    <i class="fa fa-gavel" aria-hidden="true"></i>
                                    <span class="text">{{ _('Admin') }}</span>
                                </a>
                            </li>
                            {% endif %}
                            <li>
                                <a href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
                                    {{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=22) }}
                                    <span class="username">{{ c.userobj.display_name }}</span>
                                </a>
                            </li>

                            {% block header_account_settings_link %}
                            <li>
                                <a href="{{ h.url_for(controller='user', action='edit', id=c.userobj.name) }}" title="{{ _('Edit settings') }}">
                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                    <span class="text">{{ _('Settings') }}</span>
                                </a>
                            </li>
                            {% endblock %} {% block header_account_log_out_link %}
                            <li>
                                <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
                                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                                    <span class="text">{{ _('Log out') }}</span>
                                </a>
                            </li>                                                        
                            {% endblock %} {% endblock %}

                            {% else %}
                            <li><a href="/dataset" id="datasets">Conjunto de datos</a></li>
                            <li><a href="#" id="entities">Entidades</a></li>
                            <li><a href="#" id="about-us">Acerda de</a></li>
                            <li class="visible-xs visible-sm"><a href="#" class="login-to-entities">Inicio sesion para entidades</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                {% endblock %}
            </div>
            <div class="col-md-1 background-white">
                <div class="logo-bogota-top">
                    <object type="image/svg+xml" data="img/logo_bogota_mejor_para_todos.svg" >
                        Su navegador no soporta SVG
                    </object>
                </div>
            </div>
        </div>
        <!-- end top-bar -->
        {% endblock %}
    </div>
    <!-- end container -->
</header>
{% endblock %}

{% block header_debug %} {% if g.debug and not g.debug_supress_header %}
<div class="debug">Controller : {{ c.controller }}<br/>Action : {{ c.action }}</div>
{% endif %} {% endblock %}